@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
}

html,
body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

.quote {
	font-family: 'Dancing Script', cursive;
}
